.card {
    border-radius: 0.5em !important;
    .btn-black {
        padding: 5px 12px !important;
        background-color: #000 !important;
        font-weight: 400;
        outline: none;
        border: none;
        &:hover {
            background-color: #FB6624 !important;
            transition: all 0.3s ease-in-out;
        }
    }
}