.tabs {
    background-color: #fff;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    padding: 0 !important;
    width: 100%;
    font-size: 0.7rem;

    button {
        color: #797979;
        font-weight: 600;
        width: 130px;
        height: 100px;
        min-height: 100px;
        max-height: 100px;
        margin: 0 auto;
        &:active {
            background-color: #FB6624 !important;
        }
        &:hover {
            color: #FB6624 !important;
        }
    }
}

.tab-body {
    background-color: #fff !important;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}