.tabs {
    background-color: #ca0505;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    padding: 0 !important;
    width: 100%;
    button {
        color: #d4d4d4;
        font-weight: 600;
        margin: 0 auto;
    }
}